{% extends 'base.html' %}
{% block content %}

<h4 class="text-center">Registration Form </h4>

{% if error_message %}
<div class="text-center"><strong class="text-danger">{{error_message}}</strong></div>
{% endif %}
{% if message %}
<div class="text-center"><strong class="text-success">{{message}}</strong></div>
{% endif %}

<form class="m-3 p-3" action={% url 'register' %} method='POST' >
    {% csrf_token %}
    <div class="d-flex flex-row justify-content-center">
        <div class="col-3">
            <div class="form-group mb-3">
                <label>Username</label>
                <input type="text" class="form-control" name='username' placeholder="enter username" >
            </div>
            <div class="form-group mb-3">
                <label>Email Address</label>
                <input type="email" class="form-control" name='email' placeholder="enter email address" >
            </div>
            <div class="form-group mb-3">
                <label>Mobile Number</label>
                <input type="Number" class="form-control" name='mobile_number' placeholder="enter mobile number" >
            </div>
            <div class="form-group mb-3">
                <label>Country</label>
                <input type="text" class="form-control" name='country' placeholder="enter country" >
            </div>
            <div class="form-group mb-3">
                <label>Password</label>
                <input type="password" class="form-control" name='password1' placeholder="enter password" >
            </div>
            <div class="form-group mb-3">
                <label>Confirm Password</label>
                <input type="password" class="form-control" name='password2' placeholder="enter confirm password" >
            </div>
        
            <button class="btn ml-5 btn-warning" type="submit">Next</button>
            
        </div>
    </div>
    
</form>

{% endblock %}