{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href={% url 'home' %}><h4><span>{% trans 'Local' %}</span><span class="text-warning">{% trans 'Coins' %}</span></h4></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <ul class="navbar-nav justify-content-center">
          <li class="nav-item active">
            <a class="nav-link" href="home">{% trans 'Home' %}<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={% url 'buytoallusers' %}>{% trans 'Buy' %}</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href={% url 'selltoallusers' %}>
              {% trans 'Sell' %}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={% url 'contact' %}>{% trans 'contact' %}</a>
          </li>
          <li class="dropdown default-dropdown">
            <form method="POST" action={% url 'set_language' %}>
              {% csrf_token %}
              <input name="next" type="hidden" value="{{ redirect_to }}">
              <select name="language">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages  %}
                <option value="{{language.code}}" {% if language.code == LANGUAGE_CODE %} selected {% endif %} >
                  {{language.name_local}} ({{language.code}})
                </option>
                
                {% endfor %}
              </select>
              <input type="submit" value="Go">
            </form>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="{% trans 'Search' %}" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{% trans 'Search' %}</button>
      </form>
</nav>



<table class="table table-hover">
    <thead style="background-color: #332a52;" class="text-white">
      <tr>
        <th>Buyer</th>
        <th>Crypto Currency</th>
        <th>Payment Method</th>
        <th>Rate</th>
        <th>Limits</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        {% for i in post %}
        
        <tr>
            <td>{{i.user.username}}</td>
            <td>{{i.crypto_currency}}</td>
            <td>{{i.payment_method}}</td>
            <td>{{i.rate}}</td>
            <td>{{i.min_limit}}-{{i.max_limit}}{{i.currency}}</td>
            <td><a class="btn btn-warning" href="trade_request">Sell</a></td>
        </tr>
        
        {% endfor %}
    </tbody>
</table>

{% endblock  %}