{% extends 'base.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href={% url 'home' %}><h4><span>Local</span><span class="text-warning">Coins</span></h4></a>
  <button class="navbar-toggler" type="button" data-toggle="dropdown" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href={% url 'dashboard' %}>Dashboard<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={% url 'buycrypto' %}>Buy</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href={% url 'sellcrypto' %}>Sell</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={% url 'getmyadd' %}>My Advertisements</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={% url 'traderequest' %}>Trade Requests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={% url 'wallet' %}>Wallets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={% url 'transactions' %}>Transactions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={% url 'supportticket' %}>Support</a>
      </li>
      
    </ul>
    <ul class="navbar-nav pr-4 pl-4 justify-content-end">
        <li class="mr-4">
          <select class="form-control justify-content-end ml-4 mr-4 custom-select-sm">
              <option selected>English</option>
              <option>Telugu</option>
              <option>Hindi</option>
            </select>
          </li>
          <li class="nav-item  ml-4">
              <a class="nav-link" href={% url 'logout' %}>Logout</a>
          </li>
          <li><i class="fa-solid fa-user"></i></li>
      </ul>
  </div>
</nav>





<form class="ml-4" method="POST" action={% url 'sendtraderequest' post.id %}>
  {% csrf_token %}
    <div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Rate</label>
            <div class="col-sm-10">
              <p>{{post.rate}}  {{post.currency}}/{{post.crypto_currency}}</p>
            </div>
          </div>
          <div class="form-group row">
              <label class="col-sm-2 col-form-label">Payment Method</label>
              <div class="col-sm-10">
                <p>{{post.payment_method}}</p>
              </div>
          </div>
          <div class="form-group row">
              <label class="col-sm-2 col-form-label">User</label>
              <div class="col-sm-10">
                <p>{{post.user.username}}</p>
              </div>
          </div>
          <div class="form-group row">
              <label class="col-sm-2 col-form-label">Trade Limits</label>
              <div class="col-sm-10">
                <p>{{post.min_limit}}-{{post.max_limit}}</p>
              </div>
          </div>
          <div class="form-group row">
              <label class="col-sm-2 col-form-label">Payment Window</label>
              <div class="col-sm-10">
                <p>{{post.payment_window}}</p>
              </div>
          </div>
          <h3>How much you wish {{post.type}}?</h3>
          <div class="form-group">
              <label class="col-sm-2">{{post.currency}}</label>
              <div class="col-sm-5">
                <input type="number" name="price" onkeyup="val(this.value,{{post.rate}});" class="form-control" placeholder="0.00">
              </div>
          </div>
          <div class="form-group">
              <label class="col-sm-2">{{post.crypto_currency}}</label>
              <div class="col-sm-5">
                <input type="number" readonly name="quantity" class="form-control" id="quantity">
              </div>
          </div>
          <div class="col-5">
            <label class="col-sm-2">Message</label>
            <textarea type="text" class="form-control" name="message" placeholder="write your contact message and other information to the trade here" ></textarea>
          </div>

        </div>
        <div>
            <div class="form-group">
                <label class="col-sm-2">Terms of trade with {{post.user.username}}</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" value={{post.terms_of_trade}}>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2"> Payment details of {{post.user.username}}</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" value={{post.payment_details}}>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-warning col-10" type="submit">Send Trade Requests</button>
</form>


<script>
  function val(value,rate) {
    var price;
    price = rate/value;
    document.getElementById('quantity').value=price;
  }
</script>



{% endblock  %}